<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Todo List</title>
    <style>
        .header{
            text-align: center;
            padding-bottom: 50px;
            padding-top: 50px;
         }

         .content{
            padding-top: 35px;
         }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div class="container header" style="text-align: center">
        <h1 th:inline="text">Todo List v[[${version}]]</h1>
    </div>
    <div class="container">
        <table class="table table-hover">
            <thead class="thead-light">
            <tr>
                <th scope="row">Message</th>
                <th scope="row">Statut</th>
                <th scope="row">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="todo : ${todos}">
                <td th:text="${todo.content}"></td>
                <td th:text="${todo.status}"></td>
                <td>
                    <a th:href="@{/delete(id=${todo.id})}">Delete</a>
                    <a th:if="${todo.status.code == 'p'}" th:href="@{/start(id=${todo.id})}">Start</a>
                    <a th:if="${todo.status.code == 's'}" th:href="@{/end(id=${todo.id})}">End</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="container content">
        <form th:action="@{/add}" method="post">
            <div class="form-group">
                <label for="label">
                    <b>Todo: </b>
                </label>
                <input type="text" class="form-control" name="content" id="label" required/>
            </div>
            <button>Add</button>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>