<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Todo List</title>
</head>
<body>
    <div>
        <h1 th:inline="text">Todo List [[${version}]]</h1>
    </div>
    <div>
        <table>
            <thead>
            <tr>
                <td>Message</td>
                <td>Statut</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="todo : ${todos}">
                <td th:text="${todo.content}"></td>
                <td th:text="${todo.status}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <form th:action="@{/todo}">
            <input type="text" name="content"/>
            <button>Submit</button>
        </form>
    </div>
</body>
</html>